body,
html {
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
    line-height: calc(45pt + (100) * (100vw - 350px) / (1920 - 350));
    font-size: calc(60pt + (100) * (100vw - 350px) / (1920 - 350));
}
h3 {
    font-family: 'Alfa Slab One', cursive;
    line-height: calc(20pt + (100) * (100vw - 350px) / (1920 - 350));
    font-size: calc(30pt + (100) * (100vw - 350px) / (1920 - 350));
}

button,
a {
    font-family: 'Quicksand', sans-serif;
}

.blackstock,
.leopard,
.leopard2,
.champ,
.moose {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.leopard {
    background-image: url("leopardPrint-01.svg")
}

.leopard2 {
    background-image: url("Wedding%20Site%202-01.svg")
}

.champ {
    background-image: url("Champange.jpg")
}

.moose {
    background-image: url("moose.jpg")
}

.blackstock {
    background-image: url("Blackstock.jpg")
}

.abba {
    background-image: url("ABBA.jpg");
}

.black {
    background: black;
    background-position: center;
    background-size: cover;
}

.iframewrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 700px;
  width: 100%;
  display: block;
}

.iframewrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.my-sidebar {
    width: calc(93px + 9vw);
}

@media screen and (max-width: 600px) {
    .my-sidebar {
        width: calc(1px + 60vw);
    }
    h1,
    h2 {
        text-align: left
    }
    .w3-display-right {
        position: absolute;
        top: 42%;
        left: 2%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%)
    }
}
